/* NAVIGATION */
.border-pink {
  border: 2px solid #c04381 !important; 
}
.navbar {
  font-family: 'Trebuchet MS', cursive;
  color: black !important;
}
.nav-link:hover {
  color: #c04381 !important;
  transition: all 0.2s ease-in-out;
}
.custom-dropdown .dropdown-item:hover {
  background-color: #ffe4f0 !important; 
  color: #c04381 !important; 
}

/* BANNER   */
.banner-card {
  background-color: #fff0f5;
  border-radius: 12px;
}
.text-pink {
  color: #e83e8c;
}
.custom-shadow {
  box-shadow: 0 0 12px rgba(133, 4, 69, 0.4);
}

/* CATEGORIES */
.category-img {
  height: 220px;
  object-fit: contain;
  border-radius: 0.5rem 0.5rem 0 0;
}
.text-pink {
  color: #e83e8c;
}
.category-card {
  transition: transform 0.2s ease-in-out;
}
.category-card:hover {
  transform: scale(1.03);
}

/* PRODUCT INPUT*/
.custom-input-group {
  width: 90% !important; 
  margin: 0 auto !important;
}
.custom-text {
  text-align: center !important;
}
.custom-main-button {
  background-color: #d67eaa !important;
  color: white !important;
}
.custom-button {
  color: black !important;
  border-color: #c04381 !important;
}
.custom-button:hover {
  background-color: #c04381 !important;
  color: white !important;
}

.custom-input:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(232, 62, 140, 0.25) !important;
  border-color: #e83e8c !important;
}

/* PRODUCT CARD */
.hover-border {
  transition: border-color 0.1s ease-in-out;
}
.hover-border:hover {
  border: 1px solid #c04381 !important;
}

.floating-alert {
  position: fixed !important;
  top: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 9999 !important;
  max-width: max-content !important;
  min-width: 300px !important;
  opacity: 0.95 !important;
  transition: opacity 0.3s ease in-out !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.cartIcon {
  position: absolute !important;
  top: -6px !important;
  right: -6px !important;
  background-color: #c04381 !important;
  color: white !important;
  border-radius: 50% !important;
  padding: 2px 6px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  line-height: 1 !important;
  min-width: 20px !important;
  text-align: center !important;
}
